<ul>
  <li class="message">
    <div class="author"><strong><%= message.user %></strong></div>
    <div class="text"><%= message.text %></div>
    <div class="date"><em><%= message.added %></em></div>
    <a href="/">home</a>
  </li>
</ul>
