<li class="message">
  <div class="author"><strong><%= user.user %></strong></div>
  <div class="text"><%= user.text %></div>
  <div class="date"><em><%= user.added %></em></div>

  <a href="/new/<%= user.id %>">Open</a>
</li>
